.background{
    background-image: url(https://curious-koala-2lnowi-dev-ed--c.documentforce.com/sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_Png&versionId=0688c000007X6a4&operationContext=CHATTER&contentId=05T8c00000Psg49);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 80vh;
    width:100%;
}

.wrapper{
    display:flex;
    justify-content: space-evenly;
    font-family:'Poppins', sans-serif;
    font-weight:bold;
}

.title{
    font-size: 48px;
    max-width: 800px;
    padding-top: 95px;
    margin-left: -10px;
}

.title2{
    width:400px;
}

.belowTitle{
    max-width: 800px;
    padding: 20px 20px 20px 0px;
    margin-left: -10px;

    font-size:16px;
}


.buttons{
    display:flex;
    justify-content: flex-start;
    gap: 2rem;
    margin:1.2rem;
    font-size:16px;
}

.signUpButton{

    font-weight: 700;
    border: 2px solid #000;
    border-radius: 3rem;
    overflow: hidden;
    color: #fff;
    pointer-events: auto;
    cursor: pointer;
    background: #000000;
    border: none;
    padding: 1rem 4rem;
}

.loginButton{
    font-weight: 700;
    border: 2px solid #000;
    border-radius: 3rem;
    overflow: hidden;
    color: #fff;
    pointer-events: auto;
    cursor: pointer;
    background: rgb(255, 102, 128);
    border: none;
    padding: 0rem 4rem;
}