/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Poppins:wght@200;300;400;500;600;700;800&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#ffe8ee;
    flex-wrap: wrap;
    padding: 0 8%;
}

.card{
    background-color: #fff;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  

}

.card .imgContainer{
    width: 100%;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    
}

.card .imgContainer img{
    width: 100%;
    height: 95%;
}

/* .card .imgContainer img.i12{
    position: absolute;
    top: -14%;
    left: -14%;
    width: 128%;
    height: 127%;
    padding: 0;
    object-fit:contain;
} */

.card .imgContainer img:nth-child(2){
    position: absolute;
    top: -20%;
    left: 0;
    opacity: 0;
    transition: 0.5s all;
    
}

.card .imgContainer:hover {
    transform: scale(1.05);
    /* width: 105%; */
    padding:0;
    margin: 0;

    
}

.card .imgContainer:hover img:nth-child(2){
    top: 10%;
    opacity: 1;
    
}

.card .imgContainer:hover img:nth-child(1){
    transform: scale(2);
    transition: 0.5s all;
    opacity: 0.3;

}

.infoBox{
    margin: 5px 0;
}

.infoBox .rating img{
    height: 12px;
    margin-top: 15px;
}

.infoBox .title{
    font-weight: 500;
    color: #444;
    font-family: 'Poppins', sans-serif;
}

.infoBox .price{
    font-size: 22px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.infoBox .buttonGroup{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.infoBox .buttonGroup button{
    border: none;
    outline: none;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #ff5a5f;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}

.infoBox .buttonGroup button.buy{
    background-color: #ff5a5f;
}

.infoBox .buttonGroup button.addToCart{
    background-color: #ff975a;
}